
.filter{
    display: block !important;
    transform: translateX(0);
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    z-index: 100;
    cursor:default !important;
    text-align: center;
    padding: 10px;
}
.filter-hide{
    display: block !important;
    transform: translateX(110%);
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    z-index: 100;
    cursor:default !important;
    text-align: center;
    padding: 10px;
}

.filter-section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
    height: 100px;
    overflow: auto;
}
.filter-section::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(66, 65, 65);
    border-radius: 5px;
}
.filter-section::-webkit-scrollbar-thumb{
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
}
.filter-checkbox{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}
.filter-checkbox input{
    margin-right: 5px;
    cursor: pointer;
}

.filter-btn{
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.filter-section-sort{
    display: none;
}

@media screen and (max-width:760px) {
    .filter-section-sort{
        display: block;
    }
}

@media screen and (max-width:500px) {
    .filter-section{
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }
    .filter-section>div:nth-child(3){
        grid-column: 1/3;
    }
    .checkbox-price{
        flex-direction: row;
    }
}