@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mali&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
    overflow-x: hidden;
}

.link{
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}


.btn{
    width: max-content;
    padding: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.notactivestyle{
    color: black;
    text-decoration: none;
}
.activestyle{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}