@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mali&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}

body{
    overflow-x: hidden !important;
}

.link{
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}


.btn{
    width: max-content;
    padding: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.notactivestyle{
    color: black;
    text-decoration: none;
}
.activestyle{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.loader{
    display: grid;
    justify-items: center;
    align-items: center;
    height: calc(100vh - 90px);
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: white;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 5px;
}