@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mali&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}

.link{
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}


.btn{
    width: max-content;
    padding: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
}