
.food-main{
    margin: 0 40px;
}
.food-head{
    display: grid;
    grid-template-columns: 1fr repeat(4,auto);
    gap:30px;
    padding: 40px 5px 0;
    box-shadow: inset 0 40px 40px -40px rgba(0, 0, 0, 0.089);
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}

.food-head>div:nth-child(1){
    font-size: 25px;
}

.food-head>div{
    display: grid;
    align-items: center;
    border-bottom: 2px solid transparent;
    color: rgba(29, 29, 29, 0.792);
}

.food-head>div:hover{
    cursor: pointer;
    color: black;
}

.food-collection{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    row-gap:10px;
}

.food-collection img{
    width: 255px;
    border-radius: 10px;
}

.food-collection>div{
    display: grid;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
}

.hover-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: transparent;
}
.hover-box:hover{
    background-color: rgba(0, 0, 0, 0.436);
}
.cart-icon{
    visibility: hidden;
    color:white;
    font-size: 40px;
    z-index: 100;
    transition: all 0.4s ease-in-out;
}

.hover-box:hover .cart-icon{
    visibility: visible;
}
.cart-icon:hover{
    color: red;
    transform: scale(1.09);
}
