

.header{
    display: grid;
    grid-template-columns: 1fr repeat(4,auto);
    align-items: center;
    gap: 30px;
    padding:20px 40px;
    transition: all 0.7s ease-out;
}

.header-icon{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.header>div{
    cursor: pointer;
}