

.header{
    display: grid;
    grid-template-columns: 1fr repeat(4,auto);
    align-items: center;
    gap: 30px;
    padding:20px 0px 20px 40px;
    transition: all 0.7s ease-out;
    position: relative;
    overflow-x: hidden;
}

.header-icon{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
.header>div:nth-child(1){
    width: max-content;
}

.header>div{
    cursor: pointer;
    font-weight: bold;
}
.header>div:nth-child(4){
    margin-right: 10px;
}

.header-menu-hide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/6;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    cursor: default !important;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    z-index: 100;

}
.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/6;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    cursor: default !important;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.header-menu div{
    cursor: pointer !important;
}